body {
  background-color: #9d9fa4;
  overflow-x: hidden;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  background-color: #046380;
  color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

main {
  margin: auto;
  display: flex;
  flex-flow: column;
}

section {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.search-section {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 250%;
}

footer {
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

ul {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  outline: 0;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Navigation */
nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
}

nav ul a, nav ul span {
  text-align: center;
  display: block;
  padding: 0.625rem;
  border-top: 1px solid white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

nav a {
  text-decoration: none;
}

nav ul li:last-of-type a {
  border-bottom: none;
}

/* Images */
.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Lists */
.unstyled-list-item {
  list-style: none;
  margin: 0.3rem;
  padding: 0.25rem;
}

/* Result Cards */
.cards {
  margin: 0;
}

.card {
  background-color: #fafafa;
  color: #272727;
  font-size: 1.5rem;
  width: 91%;
  margin: 0 3% 2rem 3%;
  padding: 1.5%;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card li {
  list-style: none;
  height: auto;
  text-decoration: none;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row li {
  flex-grow: 1;
  padding: 0.75rem;
}

.row li:first-child {
  flex-grow: 0;
  font-weight: bold;
}

/* Search Input Field */
.search-field {
  padding: 0.8em;
  width: 80%;
}

.search-label {
  font-weight: bold;
  font-size: 70.25%;
  padding: 0.75em 0;
  text-transform: uppercase;
}

/* Tablet and larger */
@media all and (min-width: 48rem) {
  .card {
    width: 85%;
    margin: 0 6% 3.5rem 6%;
    padding: 0.8rem 1.5%;
  }

  nav ul {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  nav ul a, nav ul span {
    text-align: inherit;
    padding: 1rem;
    border: none;
  }

  nav a:hover {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .list-unstyled {
    margin: 0.1rem;
    padding: 0.1rem;
  }
}

/* Laptop / Desktop */
@media all and (min-width: 75rem) {
  nav ul {
    justify-content: flex-end;
  }

  nav ul li {
    margin-right: 3rem;
  }

  nav ul .brand {
    margin-left: 3rem;
    flex-grow: 1;
  }
}
