{:optimizations :advanced, :asset-path "app.out", :output-dir "/home/travis/.boot/cache/tmp/home/travis/build/adolby/beers-criteria/3pf/-7gyx00/app.out", :output-to "/home/travis/.boot/cache/tmp/home/travis/build/adolby/beers-criteria/3pf/-7gyx00/app.js", :main boot.cljs.main4111, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__774 0x8cd9550 "adzerk.boot_cljs.impl$compile_cljs$handler__774@8cd9550"]]}